@page
@model BasicDetailsModel

<h3 class="m-3 text-center">Basic details</h3>
<div class="row">
    <div class="col-md">

    </div>
    <div class="col-md-8 me-5">
        <div class="card">
    <div class="card-header">

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
            <div class="form-floating">
  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
    <option selected>Title</option>
    <option value="1">Mr</option>
    <option value="2">Miss</option>
  </select>
  <label for="floatingSelect">Title</label>
</div>
</div>
<div class="col-md-5">
            <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Name</label>
</div>
</div>
<div class="col-md-5">
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Surname</label>
</div>
</div>
        </div>
              <div class="col-md">
        <div class="form-floating mt-3 mb-3">
  <input type="date" class="form-control" id="floatingPassword">
  <label for="floatingPassword">Birth date</label>
</div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="nationality">
  <label for="floatingInput">Nationality</label>
</div>
        </div>
        <div class="col-md">
            <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="country">
  <label for="floatingInput">Country of birth</label>
</div>
        </div>
    </div>
        <div class="row">
        <div class="col-md">
            <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="nationality">
  <label for="floatingInput">National Id</label>
</div>
        </div>
        <div class="col-md">
            <div class="form-floating">
  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
    <option selected>Disability</option>
    <option value="1">Yes</option>
    <option value="2">No</option>
  </select>
  <label for="floatingSelect">Disability</label>
</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
                        <label class="text font-weight-bold">Gender</label>
                        </div>
                        <div class="col-md">
                 <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                       Male
                    </label>
                 </div>
                 <div class="form-check">
                     <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                     <label class="form-check-label" for="flexRadioDefault2">
                       Female
                     </label>
                 </div>
                    </div>
                    </div>
                             <div class="form-floating mt-3">
  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
    <option selected>Sponsors</option>
    <option value="1">Self</option>
    <option value="2">Other</option>
  </select>
  <label for="floatingSelect">Sponsors</label>
</div>
    </div>
    <div class="card-footer">
      <div class="row">
      <div class="text-start col-md">
          <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-arrow-left"></i> Previous</button>
      </div>
      <div class="text-end col-md">
          <a asp-page="Contact" class="btn btn-success"><i class="fa-solid fa-arrow-right"></i> Next</a>
      </div>
      </div>
  </div>
</div>
    </div>
</div>

@section scripts{
        <script>
            $(document).ready(function(){
            $('#btn1Next').click(function(){
                     $('#card1').hide();
                     $('#card2').show();
                                                                });
                                                                     $('#btn2Next').click(function(){
                                                                            $('#card2').hide();
                                                                            $('#card3').show();
                                                                    });
                                                            });
                                                        </script>
}

<div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Arts
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Commercials
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Sciences
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
                            </div>
                        </div>
                    </div>
                </div>






                                <div class="row g-2 mb-3">
                    <div class="col-md">
                        <div class="">
                            <label for="floatingSelectGrid" class="text-secondary">Subjects</label>
                        </div>
                    </div>
                    <div class="col-md ms-5">
                        <div class="text-muted form-check-inline">
                            <label class="form-check-label" for="inlineRadio1">First choice</label>
                        </div>
                        <div class="text-muted form-check-inline">
                            <label class="form-check-label" for="inlineRadio2">Second choice</label>
                        </div>
                        <div class="text-muted form-check-inline">
                            <label class="form-check-label" for="inlineRadio3">Third choice</label>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mt-3">
                            <label>Mathematics</label>
                        </div>
                    </div>
                    <div class="col-md mt-4 ms-5">
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mt-3">
                            <label>Physics</label>
                        </div>
                    </div>
                    <div class="col-md mt-4 ms-5">
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mt-3">
                            <label>Chemistry</label>
                        </div>
                    </div>
                    <div class="col-md mt-4 ms-5">
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mt-3">
                            <label>Biology</label>
                        </div>
                    </div>
                    <div class="col-md mt-4 ms-5">
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mt-3">
                            <label>Computer Science</label>
                        </div>
                    </div>
                    <div class="col-md mt-4 ms-5">
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mt-3">
                            <label>Geography</label>
                        </div>
                    </div>
                    <div class="col-md mt-4 ms-5">
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col-md">
                        <div class="mt-3">
                            <label>History</label>
                        </div>
                    </div>
                    <div class="col-md mt-4 ms-5">
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        </div>
                        <div class="form-check form-check-inline ms-5">
                            <input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        </div>
                    </div>
                </div>